.product-card {
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.12);
}

.image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  background: #f9fafb;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #dc2626;
  color: white;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 8px;
}

/* CONTENT */
.content {
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.brand {
  font-size: 12px;
  color: #6b7280;
  font-weight: 500;
}

.title {
  font-size: 15px;
  font-weight: 600;
  color: #111827;
  line-height: 1.4;
  /* height: 42px; */
  overflow: hidden;
}

.rating {
  font-size: 13px;
  color: #f59e0b;
  font-weight: 600;
}

/* PRICE */
.price-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.price {
  font-size: 18px;
  font-weight: 700;
  color: #111827;
}

.mrp {
  font-size: 13px;
  color: #9ca3af;
  text-decoration: line-through;
}

/* STOCK */
.stock {
  font-size: 12px;
  font-weight: 600;
}

.stock.in {
  color: #16a34a;
}

.stock.out {
  color: #dc2626;
}

/* BUTTON */
.product-card button {
  margin: 14px;
  margin-top: auto;
  padding: 12px;
  border-radius: 12px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  background: #111827;
  width: auto;
  color: white;
  transition: background 0.25s ease, transform 0.15s ease;
}

.product-card button:hover {
  background: #000000;
  transform: scale(1.02);
}

.product-card button:disabled {
  background: #9ca3af;
  cursor: not-allowed;
}

/* MOBILE */
@media (max-width: 640px) {
  .title {
    font-size: 14px;
  }

  .price {
    font-size: 16px;
  }
}
